/*=============================
GENERAL
=============================*/

/*=== Centering ===*/

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

/*=============================
ELEMENTS
=============================*/

/*=== Labels ===*/

.section_label {
  background-color: #fff;
  display: inline-block;
  padding: 10px 80px;
  text-transform: uppercase;
}

.ribbon_label.top_label {
  position: absolute;
  top: 0;
}

span.label_title {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
}

.ribbon_label {
  position: absolute;
  background: #fff;
  text-align: center;
  padding: 10px 50px;
}

.ribbon_label:before {
  content: '';
  position: absolute;
  top: 0;
  right: -15px;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-top: 25px solid #ffffff;
  border-bottom: 25px solid #fff;
}

/*=== Icons ===*/

.section_label i.fa {
  color: #999999;
}

img.train_icon {
  position: absolute;
  bottom: 0;
  left: 100px;
}

img.taxi_icon, img.couch_icon {
  position: absolute;
  bottom: 0;
  right: 100px;
}

/*=== Question Marks ===*/

.q_mark_1 {
  position: absolute;
  right: 25%;
}

.q_mark_2 {
  position: absolute;
  right: 20%;
}

.q_mark_3 {
  position: absolute;
  right: 30%;
}

/*=== Food Icons ===*/

.animated_food_icon {
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.active_icon_toggle {
  border-bottom: 3px solid #ffffff;
}

.eggs_icon, .pancakes_icon, .chicken_icon {
  display: none;
}

.show_food_icon_image {
  display: block;
}

.food_icon_container {
  display: block;
  position: absolute;
  left: 60%;
  text-align: center;
}

.food_icon_container ul {
  margin-left: 0px;
}

.food_icon_container ul li {
  display: inline-block;
  margin-right: 13px;
}

.food_icon_container ul li a {
  color: #fff;
}


/*=============================
FONTS
=============================*/

body, p, h1, h2 {
  font-family: "proxima-nova",sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

p, h1, h2, h3 {
  margin: 10px 0px;
}

p {
  font-size: 18px;
}

a {
  color: #fff;
}

a:hover, a:focus, a:active {
  color: #fff;
}

a.primary_link {
  color: #fff;
  margin-right: 10px;
}

a.primary_link:hover, a.primary_link:focus, a.primary_link:active {
  color: #fff;
  border-bottom: 3px solid #ffffff;
}

/*=============================
CONTAINER
=============================*/
.page_container {
  overflow: hidden;
}

/*=== Split Color Container ===*/

.colored_container {
  position: relative;
  top: 0px;
  padding: 100px 0px;
  overflow: hidden;
  background: -webkit-linear-gradient(left, #4487c7 50%, #eb5d4b 50%);
  background: -moz-linear-gradient(90deg, #4487c7 50%, #eb5d4b 50%);
  background: -o-linear-gradient(90deg, #4487c7 50%, #eb5d4b 50%);
  background: linear-gradient(90deg, #4487c7 50%, #eb5d4b 50%);
}

.colored_container h2 {
  color: #ffffff;
}

/*=============================
GRID
=============================*/

.large-6.columns {
  width: 50% !important;
}

/*=============================
AUDIO
=============================*/

.audio_container {
  display: block;
  position: relative;
  padding: 200px 0px;
}

.audio_container .backstretch:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(51,51,51,.4);
}

/*=============================
CONCLUSION
=============================*/

#conclusion_video_container {
  padding: 300px 0px;
}

#conclusion_video_container > div:before {
  position: absolute;
  background-color: rgba(51,51,51,.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
}

.conclusion_links {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -107px;
  z-index: 99;
}

/*=============================
TIMELINE
=============================*/

p.he_time {
  display: inline-block;
  background-image: url('../img/he_arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5px 18px;
  background-position: center;
  margin-bottom: 0px;
  color: #b3c7ff;
  font-size: 15px;
}

p.she_time {
  display: inline-block;
  background-image: url('../img/she_arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5px 25px;
  background-position: 0px;
  margin-bottom: 0px;
  color: #ffb6b0;
  font-size: 15px;
}

.left_dot {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  right: -24px;
}

.right_dot {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  left: -24px;
}

span.left_timeline_dot {
  border: 3px solid #ffffff;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  z-index: 999;
  top: 0;
  right: -9px;
}

span.right_timeline_dot {
  border: 3px solid #ffffff;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  z-index: 999;
  top: 0;
  left: -9px;
}

/*=============================
HEADER
=============================*/

.header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 1px 5px #333333;
}

.header h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

.he_said_header {
  text-align: right;
  background: #4487c7;
}

.she_said_header {
  text-align: left;
  background: #eb5d4b;
}

.he_said_header, .she_said_header {
  display: block;
  width: 50%;
  float: left;
  padding: 0px 20px
}

.header i.fa.fa-bars {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
}

/*=============================
HEADER OVERLAY
=============================*/

/*=== Overlay style ===*/

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.9);
}

/*=== Overlay closing cross ===*/

.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  color: white;
  outline: none;
  z-index: 100;
  background-color: transparent;
}

/*=== Menu style ===*/

.overlay ul li {
	display: block;
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay_container {
  position: relative;
  display: block;
  top: 35%;
  margin-top: -200px;
}

.overlay ul li a {
	font-size: 40px;
	font-weight: 300;
	display: block;
	color: #333333;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #333333;
  opacity: .6;
}

.overlay i.fa.fa-times.fa-2x {
  color: #333333;
}

/*=== Effects ===*/

.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	z-index: 9999;
}

/*=============================
ANIMATIONS
=============================*/

/*=== Text Pop-Ups ===*/

.os-animation-he, .os-animation-she, .os-audio-label-animation, .os-map-label-animation, .intro_text_hidden{
  opacity: 0;
}

.os-animation-he.animated, .os-animation-she.animated, .os-audio-label-animation.animated, .os-map-label-animation.animated{
  opacity: 1;
}

.dot {
  cursor: pointer;
  display: block;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}

.dot:hover {
  border: 3px solid #ffffff;
  background-color: transparent;
}

@-webkit-keyframes text_hover {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes text_hover {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.dot:hover ~ h2.text_message {

  -webkit-animation-name: text_hover;
  animation-name: text_hover;

  -webkit-animation-duration: 2s;
  animation-duration: 2s;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;

  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;

}

/*=== Anchor Arrow ===*/

a.anchor_arrow:hover { 

  -webkit-animation: subtle_bounce 1s ease-in-out infinite;
  -moz-animation: subtle_bounce 1s ease-in-out infinite;
  animation: subtle_bounce 1s ease-in-out infinite;

}

@keyframes subtle_bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

/*=============================
PARALLAX
=============================*/

.fixed_container {
  position: fixed;
  width: 100%;
}

/*=============================
AUDIO
=============================*/

a.play_pause_audio {
  background-color: #333333;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: block;
  color: #e1e1e1;
  position: relative;
  margin: 20px auto;
}

a.play_pause_audio span.play_icon {
  top: 11px;
  position: absolute;
  left: 20px;
  font-size: 20px;
}

a.play_pause_audio span.pause_icon {
  top: 11px;
  position: absolute;
  left: 17px;
  font-size: 20px;
}

/*=============================
INTRODUCTION
=============================*/

.intro_container {
  display: block;
  padding: 300px 0px;
  position: relative;
}

.intro_container:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.2);
  position: absolute;
  z-index: 1;
}

.intro_container .row .columns {
  z-index: 999;
}

.intro_container h2 {
  color: #ffffff;
}

.introduction {
  display: block;
  overflow: auto;
  position: relative;
}

.he_intro {
  background-image: url('../img/he_intro.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 50%;
  margin-top: -10px;
  padding: 150px 30px;
  float: left;
  position: relative;
}

.he_intro:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(68,135,199,.4);
}

.she_intro {
  background-image: url('../img/she_intro.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 50%;
  margin-top: -10px;
  padding: 150px 30px;
  float: left;
  position: relative;
}

.she_intro:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(235,93,75,.4);
}

.he_intro h2, .she_intro h2 {
  z-index: 999;
  display: block;
  position: relative;
  color: #fff;
  text-align: center;
}

.introduction a.anchor_arrow {
  position: absolute;
  bottom: 23%;
  left: 50%;
  margin-left: -16px;
}

/*=============================
MAP
=============================*/

/*=== Map Container ===*/

.map_effect {
  position: relative;
  display: block;
  height: 600px;
}

/*=== Map Label ===*/

.map_effect .os-map-label-animation {
  z-index: 99;
}

/*=== Zoomed Map of Meserole ===*/

.zoomed_map {
  background-image: url('../img/placeholder_map.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: 0px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/*=== SVG Map container ===*/

.line_animation_map {
  z-index: 999;
  position: absolute;
  width: 100%;
}

/*=== Line Settings ===*/

.the_line_animation {
  stroke-width: 3px;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

/*=== Line Animation to Open line ===*/

.dash {
  -webkit-animation: dash 5s both;
  -moz-o-animation: dash 5s both;
  -o-animation: dash 5s both;
  animation: dash 5s both;
}

@-webkit-keyframes dash {
  from { stroke-dashoffset: 500; }
  to { stroke-dashoffset: 0; }
}

@-moz-keyframes dash {
  from { stroke-dashoffset: 500; }
  to { stroke-dashoffset: 0; }
}

@-o-keyframes dash {
  from { stroke-dashoffset: 500; }
  to { stroke-dashoffset: 0; }
}

@keyframes dash {
  from { stroke-dashoffset: 500; }
  to { stroke-dashoffset: 0; }
}

/*=== Line Animation to Close line ===*/

.dash_out {
  -webkit-animation: dash_out 1s both;
  -moz-o-animation: dash_out 1s both;
  -o-animation: dash_out 1s both;
  animation: dash_out 1s both;
}

@-webkit-keyframes dash_out {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 500; }
}

@-moz-keyframes dash_out {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 500; }
}

@-o-keyframes dash_out {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 500; }
}

@keyframes dash_out {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 500; }
}

/*=== Set Opacity of Line ===*/

.os-line-animation {
  opacity: 0;
}

.os-line-animation.dash, .os-line-animation.dash_out {
  opacity: 1;
}

/*=============================
BACKGROUND IMAGE FADE
=============================*/

div.fadeShow-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.audio_container .fadeShow-container:before {
  content: "";
  background-color: rgba(255,255,255,.7);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 4;
}