/*=============================
GENERAL
=============================*/

/*=== Centering ===*/

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

/*=== Labels ===*/

.section_label {
  background-color: #fff;
  display: inline-block;
  padding: 10px 80px;
  text-transform: uppercase;
}

.section_label.top_label {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -200px;
}

/*=============================
FONTS
=============================*/

body, p, h1, h2 {
  font-family: "proxima-nova",sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

p, h1, h2, h3 {
  margin: 10px 0px;
}

/*=============================
CONTAINER
=============================*/
.page_container {
  overflow: hidden;
}

/*=== Split Color Container ===*/

.colored_container {
  position: relative;
  top: 0px;
  padding: 100px 0px;
  background: -webkit-linear-gradient(left, #4487c7 50%, #eb5d4b 50%);
  background: -moz-linear-gradient(90deg, #4487c7 50%, #eb5d4b 50%);
  background: -o-linear-gradient(90deg, #4487c7 50%, #eb5d4b 50%);
  background: linear-gradient(90deg, #4487c7 50%, #eb5d4b 50%);
}

.colored_container h2 {
  color: #ffffff;
}

/*=== Audio ===*/

.audio_container {
  display: block;
  position: relative;
  background-color: #e1e1e1;
  padding: 100px 0px;
}

p.block {
  background: #e1e1e1;
  padding: 50px;
}

/*=============================
TIMELINE
=============================*/

/*.container:before {
  content: '';
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  height: 100%;
}*/

.left_dot {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: -26px;
}

.right_dot {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: -26px;
}

span.left_timeline_dot {
  border: 3px solid #ffffff;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  z-index: 999;
  top: 0;
  right: -9px;
}

span.right_timeline_dot {
  border: 3px solid #ffffff;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  z-index: 999;
  top: 0;
  left: -9px;
}

/*=============================
HEADER
=============================*/

.header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 1px 5px #333333;
}

.header h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
}

.he_said_header {
  text-align: right;
  background: #4487c7;
}

.she_said_header {
  text-align: left;
  background: #eb5d4b;
}

.he_said_header, .she_said_header {
  display: block;
  width: 50%;
  float: left;
  padding: 0px 20px
}

.header i.fa.fa-bars {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
}

/*=============================
HEADER OVERLAY
=============================*/

/*=== Overlay style ===*/

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.9);
}

/*=== Overlay closing cross ===*/

.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  color: white;
  outline: none;
  z-index: 100;
  background-color: transparent;
}

/*=== Menu style ===*/

.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	font-size: 40px;
	font-weight: 300;
	display: block;
	color: #333333;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

.overlay i.fa.fa-times.fa-2x {
  color: #333333;
}

/*=== Effects ===*/

.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	z-index: 9999;
}

/*=============================
SECTIONS
=============================*/

.map_container {
}

/*=============================
ANIMATIONS
=============================*/

/*=== Text Pop-Ups ===*/

.os-animation-he, .os-animation-she, .os-audio-label-animation{
  opacity: 0;
}

.os-animation-he.animated, .os-animation-she.animated, .os-audio-label-animation.animated{
  opacity: 1;
}

.dot {
  cursor: pointer;
  display: block;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}

.dot:hover {
  border: 3px solid #ffffff;
  background-color: transparent;
}

@-webkit-keyframes text_hover {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes text_hover {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.dot:hover ~ h2.text_message {

  -webkit-animation-name: text_hover;
  animation-name: text_hover;

  -webkit-animation-duration: 2s;
  animation-duration: 2s;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;

  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;

}

/*=============================
PARALLAX
=============================*/

.fixed_container {
  position: fixed;
  width: 100%;
}

/*=============================
AUDIO
=============================*/

a.play_pause_audio {
  background-color: #333333;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: block;
  color: #e1e1e1;
  position: relative;
  margin: 0 auto;
}

a.play_pause_audio span#play {
  top: 11px;
  position: absolute;
  left: 20px;
  font-size: 20px;
}

a.play_pause_audio span#pause {
  top: 11px;
  position: absolute;
  left: 17px;
  font-size: 20px;
}